  			<div ng-controller="DinnerCtrl" class="col-md-3" style="border-style:solid; background:#A6CAFC;" id="SideBar"><h4>My Favourites</h4>
  				<div class="col-md-12">
				</div>
				
				<div class="row" style="margin-top:5%; margin-bottom:5%;">
				<div class="col-md-12" style="background:lightgray; border-top:solid; border-bottom:solid;"><div class="col-md-9"></div>
				<div class="col-md-3"></div></div>
				</div>
				<div class="row">
				<div class="col-md-12" style="background:#B9EAFB;">
				<div ng-repeat="movie in movies()">
					
					<div class="col-md-9" style="margin-left:-25px;">{{movie.Title}}</div>
					<div class="col-md-2">{{movie.Genre}}</div>
					<div class="col-md-1"><button ng-click="unFavourite(movie)"><span class="glyphicon glyphicon-remove"></span></button></div>
				</div>
				</div>
				
				</div>
				</div>