<style>
h1,h3{font-family: 'Bitter', serif;
color:white;}
h1 {font-size:35px;}
h3 {font-size:20px;}
h4,p {color:white;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size:15px;}
h4 {font-size:15px;}
#image{
    width:105%;
    height:350px;
    overflow:hidden;
    position: relative;
}

#image img {
    position: relative;
    top: -100px;
}
::-webkit-scrollbar { 
    display: none; 
}
#like:hover {color:#F4A60F;
}
#like {font-size:60px;
color:lightgray;}
#back:hover {opacity: 1;
}
#back {font-size:60px;
color:#F4A60F;
opacity: 0.75;
position:absolute;
top:30%;
left:5px;
font-size:160px;}
</style>

<div class="col-md-12" style="overflow-y:hidden;">

	<div class="row" style="background-color:#272727;">

	<div class="col-md-12" style="overflow-y:auto; height:590px; padding-bottom:50px;">

		<div class="row">;

		<div class="col-md-12" id="image" style="margin-left:-20px;">
		<img ng-src='http://image.tmdb.org/t/p/original{{movie.backdrop_path}}'>
		<a ng-href="http://localhost:8000/#/search"><span class="glyphicon glyphicon-chevron-left" id="back" aria-hidden="true"/></a>
		</div>

		</div>

		<div class="row">

		<div class='col-md-3'>
		<h1 style="margin-left:15px;">{{status}}</h1><h3 style="margin-left:15px;">{{movie.tagline}}</h3>
		<p style='margin-top:5%; margin-left:15px;'>{{movie.overview}}</p>
		</div>

		<div class='col-md-7'>;
		{{youtube(movie.trailers.youtube[0].source)}}
		<center>
		<iframe width="780" height="390" id="youtube" frameborder="0" allowfullscreen src=""></iframe></center>
		</div>

		<div class="col-md-2" style="background:#373737; margin-top:20px; margin-left:-20px;">
		<div class="row">
			<div class="col-md-4" style="margin-left:15px;">
			<h4>Rating: </h4>
			</div>
			<div class="col-md-6" style="margin-left:5%;">
			<h4>{{movie.vote_average}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="margin-left:15px;">
			<h4>Genre: </h4>
			</div>
			<div class="col-md-6" style="margin-left:5%;">
			<h4 ng-repeat="i in movie.genres">{{i.name}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="margin-left:15px;">
			<h4>Release: </h4>
			</div>
			<div class="col-md-6" style="margin-left:5%;">
			<h4>{{movie.release_date}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="margin-left:15px;">
			<h4>Runtime: </h4>
			</div>
			<div class="col-md-6" style="margin-left:5%;">
			<h4>{{movie.runtime}} min</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" style="margin-left:15px;">
			<h4>Production: </h4>
			</div>
			<div class="col-md-5" style="margin-left:5%;">
			<h4 ng-repeat="i in movie.production_companies">{{i.name}}</h4>
			</div>
		</div>
		</div>
		</div>
	</div>
</div>
